<div class="container">
  <div [hidden]="hiddenMenu" class="chat-list mat-elevation-z5">
    <div [hidden]="!mobileFlag" style="position: relative;">
      <button style="position: absolute; top:10px;left: 90%;border-radius: 50%;z-index: 1" (click)="changeState()"> <mat-icon>expand_more</mat-icon></button>
    </div>
    <div style="margin-top: 12px" class="search-input">
      <mat-form-field>
        <input
          matInput
          placeholder="Search for users and start a chat"
          [matAutocomplete]="users"
          [formControl]="searchControl"
        />
      </mat-form-field>
      <mat-autocomplete #users="matAutocomplete">
        <mat-option
          *ngFor="let user of users$ | async"
          [value]="''"
          (click)="createChat(user)"
        >
          {{ user.displayName }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <mat-selection-list [multiple]="false" [formControl]="chatListControl">
      <mat-divider></mat-divider>
      <mat-list-option (click)="changeState()" *ngFor="let chat of myChats$ | async" [value]="chat.id">
        <img
          matListAvatar
          [src]="
            chat.chatPic ? chat.chatPic : 'assets/images/image-placeholder.png'
          "
        />
        <p mat-line class="chat-title">
          <span class="chat-name">{{ chat.chatName }}</span
          ><span class="chat-date">{{
            chat.lastMessageDate | dateDisplay
          }}</span>
        </p>
        <p mat-line>{{ chat.lastMessage }}</p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div [hidden]="hiddenMessage" class="messages mat-elevation-z5">
    <div [hidden]="!mobileFlag" style="position: relative">
      <button style="position: absolute; top:-16px;left: 92%;border-radius: 50%;" (click)="changeState()"> <mat-icon>expand_more</mat-icon></button>
    </div>
    <div
      class="messages-header"
      *ngIf="selectedChat$ | async as selectedChat; else noChatSelected"
    >
      <img
        [src]="
          selectedChat.chatPic
            ? selectedChat.chatPic
            : 'assets/images/image-placeholder.png'
        "
      />
      <h2>{{ selectedChat.chatName }}</h2>
    </div>
    <ng-template #noChatSelected>
      <h2>Messages</h2>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <ng-container *ngIf="user$ | async as currentUser">
        <ng-container *ngIf="messages$ | async as messages">
          <div
            class="chat-bubble-container"
            [ngClass]="{ sender: message.senderId === currentUser.uid }"
            *ngFor="let message of messages"
          >
            <div class="chat_img" *ngIf="message.type =='image'">
              <a href="{{message.src}}"><button mat-icon-button style="position: relative;top:-50%; margin-right:16px"><mat-icon>menu</mat-icon></button></a>
              <img  width="240px" src="{{message.src}}">
            </div>
            <br>
            <div class="chat-bubble " >
              {{ message.text }}
              <span class="chat-time" >{{
                message.sentDate | dateDisplay
              }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div #endOfChat></div>
    </div>
    <div class="input-area">
        <input type="file" (change)="uploadImage($event)" />
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Enter your message..."
          [formControl]="messageControl"
          (keydown.enter)="sendMessage()"
        />
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
